* {
    font-family: 'Exo 2', Sans-serif;
  }
  
  
  
  body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    color: rgb(168, 168, 168);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.user_icon {
    height: 40px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 20px;
    height: 82.5vh;
}

.profile-bar {
    display: flex;
    width: 20%;
    height: 100%;
    margin-left: 150px;
    background-color: rgb(37, 37, 37, 1);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
}

.profile-bar img {
    width: 150px;
    height: 150px;
    margin-right: 8px;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 1);
}

.right-side {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;  
}

.graph {
    position: relative;
    display: flex;
    width: 100%;
    height: 60%;
    background-color: rgb(37, 37, 37, 1);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#rating-display, .rating-display {
    position: absolute;
    top: 20px;
    right: 20px;
    background: linear-gradient(to right, rgba(160, 40, 40, 0.6), rgba(203, 16, 144, 0.6));
    padding: 10px 16px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 400;
    width: 160px;
    font-family: inherit;
    white-space: nowrap;
    border: 1.75px solid rgba(160, 40, 40, 0.85);
}

.bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40%;
    gap: 20px;
}

.uni-info {
    width: 100%;
    background-color: rgb(37, 37, 37, 1);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.badges {
    width: 100%;
    background-color: rgb(37, 37, 37, 1);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}