<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeeterBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='icons/leeterboard_logo.png') }}" alt="LeeterBoard Logo" class="logo">
        </a>
        <div class="icon-container">
            <a href="{{ url_for('uni_comp_tool') }}">
                <img src="{{ url_for('static', filename='icons/stats_icon.png') }}" alt="Stats Icon" class="stats_icon">
            </a>
            <img src="{{ url_for('static', filename='icons/user_icon.png') }}" alt="User Icon" class="user_icon">
        </div>
    </header>
    
    

    
    <main>
        <form method="POST" action="{{ url_for('school') }}">
            <span class="search">
                <input type="text" name="school_input" placeholder="Type your institution here..." class="search-bar">
                <button class="search-button">
                    <img src="{{ url_for('static', filename='icons/search_icon.png') }}" alt="Search" class="search-icon">
                </button>
            </span>
            <h3>{{ school_name }}</h3>
        </form>

        <!-- Leaderboard Table -->
        <div class="content-container">
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>University</th>
                    <th>Contest Rating</th>
                    <th>Rating Change</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for user in users %}
                    <tr><td>[X]</td><td>{{ user.username }}</td><td>{{ user.school }}</td><td>{{ "%.2f" | format(user.contestRating) }}</td></tr>
                {% endfor %} -->

                <!-- TODO: Have to change rating change. (currenty hard coded)-->
                {% for rating, school, rating_change in school_info %}
                    <tr>
                        <td>{{ loop.index0 + 1 }}</td>
                        <td>
                            <img src="https://img.logo.dev/{{ university_websites[school] }}">
                            {{ school }}
                        </td>
                        <td>{{ "%.2f" | format(rating) }}</td>
                        <td>{{ "%.2f" | format(rating_change) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Widgets -->
        <div class="widgets-container">
            <div class="widget">
                <h3>Trending Users</h3>
                <ul>
                    {% for rating_change, user, user_avatar in user_rating_changes[:10] %}
                    <li>
                        <div className="user">
                            <img src="{{ user_avatar }}"></img>
                            {{ user }}
                        </div>
                        <span class="score up">▲ {{ "%.2f" | format(rating_change) }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="widget">
                <h3>Trending Universities</h3>
                <ul>
                    {% for rating, school, rating_change in school_rating_changes[:10] %}
                    <li>
                        <div className="school">
                            <img src="https://img.logo.dev/{{ university_websites[school] }}">
                            {{ university_abbreviations[school] }}
                        </div>
                        <span class="score up">▲ {{ "%.2f" | format(rating_change) }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
                      
            
            <div class="widget">
                <h3>Top Universites</h3>
                <ul>
                    {% for rating, school, school_rating_change in school_info[:10] %}
                    <li>
                        <div className="school-rank">
                            <img src="https://img.logo.dev/{{ university_websites[school] }}">
                            <td>{{ university_abbreviations[school] }}</td>
                        </div>
                        {{ "%.2f" | format(rating) }}
                    </li>
                    {% endfor %} 
                </ul>                   
                </ul>
            </div>
        </div>
    </div>
    </main>
</body>
</html>
