<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeeterBoard - LeetCode University Statistics</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-wrap">
            <a href="{{ url_for('home') }}" class="logo-section">
                <img src="{{ url_for('static', filename='icons/final_logo.png') }}" alt="LeeterBoard Logo" class="logo">
            </a>
            <div class="nav-links">
                <a href="{{ url_for('compare') }}" class="nav-link">Compare</a>
                <a href="{{ url_for('universities') }}" class="nav-link">Universities</a>
                <a href="{{ url_for('about') }}" class="nav-link">About</a>
              </div>
        </div>
    </header>
    
    <main>
        <div class="content-container">
            <!-- Main Rankings Table Section -->
            <div class="rankings-section">
                <form method="POST" action="{{ url_for('home')}}">
                    <div class="rankings-header">
                        <h2>University Rankings</h2>
                        <div class="search-container">
                            <button type="button" class="search-button">
                                <img src="{{ url_for('static', filename='icons/search.svg') }}" class="search-icon">
                            </button>
                            <input type="text" name="school_input" class="search-input" placeholder="Search for universities..." autocomplete="off">
                        </div>
                    </div>
                </form>
                
                <div class="table-header">
                    <div class="column-rank">Rank</div>
                    <div class="column-university">University</div>
                    <div class="column-rating">Contest Rating</div>
                    <div class="column-change">Rating Δ</div>
                </div>
                
                <ul class="university-list">
                    {% for current_rank, previous_rank, rating, school, student_count, rating_change, mmr_rank in school_info %}

                    <li class="university-item">
                        <div class="rank-container">
                            {% if current_rank == 1 %}
                                <div class="rank-number gold">{{ current_rank }}</div>
                                {% if previous_rank == -1 %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% elif current_rank < previous_rank %}
                                    <div class="rank-change-indicator up">
                                        <img src="{{ url_for('static', filename='icons/up.svg') }}">
                                        <p>{{ previous_rank - current_rank }}</p>
                                    </div>
                                {% elif current_rank > previous_rank %}
                                    <div class="rank-change-indicator down">
                                        <img src="{{ url_for('static', filename='icons/down.svg') }}">
                                        <p>{{ current_rank - previous_rank }}</p>
                                    </div>
                                {% else %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% endif %}
                            {% elif current_rank == 2 %}
                                <div class="rank-number silver">{{ current_rank }}</div>
                                {% if previous_rank == -1 %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% elif current_rank < previous_rank %}
                                    <div class="rank-change-indicator up">
                                        <img src="{{ url_for('static', filename='icons/up.svg') }}">
                                        <p>{{ previous_rank - current_rank }}</p>
                                    </div>
                                {% elif current_rank > previous_rank %}
                                    <div class="rank-change-indicator down">
                                        <img src="{{ url_for('static', filename='icons/down.svg') }}">
                                        <p>{{ current_rank - previous_rank }}</p>
                                    </div>
                                {% else %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% endif %}
                            {% elif current_rank == 3 %}
                                <div class="rank-number bronze">{{ current_rank }}</div>
                                {% if previous_rank == -1 %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% elif current_rank < previous_rank %}
                                    <div class="rank-change-indicator up">
                                        <img src="{{ url_for('static', filename='icons/up.svg') }}">
                                        <p>{{ previous_rank - current_rank }}</p>
                                    </div>
                                {% elif current_rank > previous_rank %}
                                    <div class="rank-change-indicator down">
                                        <img src="{{ url_for('static', filename='icons/down.svg') }}">
                                        <p>{{ current_rank - previous_rank }}</p>
                                    </div>
                                {% else %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% endif %}
                            {% else %}
                                <div class="rank-number">{{ current_rank }}</div>
                                {% if previous_rank == -1 %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% elif current_rank < previous_rank %}
                                    <div class="rank-change-indicator up">
                                        <img src="{{ url_for('static', filename='icons/up.svg') }}">
                                        <p>{{ previous_rank - current_rank }}</p>
                                    </div>
                                {% elif current_rank > previous_rank %}
                                    <div class="rank-change-indicator down">
                                        <img src="{{ url_for('static', filename='icons/down.svg') }}">
                                        <p>{{ current_rank - previous_rank }}</p>
                                    </div>
                                {% else %}
                                    <div class="rank-change-indicator neutral"></div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="university-info">
                            <img src="https://img.logo.dev/{{ university_websites[school] }}" class="university-logo"></img>
                            <div class="university-details">
                                <div class="university-name">
                                    {{ school }}
                                    {% if mmr_rank == 'Bronze' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/bronze.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Silver' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/silver.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Gold' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/gold.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Platinum' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/platinum.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Diamond' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/diamond.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Champion' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/champion.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Titan' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/titan.png') }}" class="rank-badge">
                                    {% elif mmr_rank == 'Immortal' %}
                                        <img src="{{ url_for('static', filename='icons/final_ranks/immortal.png') }}" class="rank-badge">
                                    {% endif %}
                                </div>
                                
                                <div class="university-stats">
                                    <span class="stat-item"><img src="{{ url_for('static', filename='icons/students.svg') }}" class="stat-icon"></img>{{ student_count }} students</span>
                                </div>
                            </div>
                        </div>
                        <div class="rating">{{ "%.2f" | format(rating) }}</div>
                        {% if rating_change > 0 %}
                            <div class="rating-change positive">+{{ "%.2f" | format(rating_change) }}</div>
                        {% elif rating_change < 0 %}
                            <div class="rating-change negative">{{ "%.2f" | format(rating_change) }}</div>
                        {% else %}
                            <div class="rating-change neutral">{{ "%.2f" | format(rating_change) }}</div>
                        {% endif %}
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Widgets Section -->
            <div class="widgets-section">
                <!-- Trending Users Widget -->
                <div class="widget">
                    <div class="widget-header">
                        <h3>Trending Users</h3>
                    </div>
                    
                    <div class="widget-content">
                        <div class="widget-legend">
                            <span class="legend-rank">Rank</span>
                            <span class="legend-user">User</span>
                            <span class="legend-rating">Rating Δ</span>
                        </div>
                        
                        <ul class="widget-list">
                            {% for rating_change, user, user_avatar, school in user_rating_changes[:5] %}
                                <li class="widget-item-user">
                                    <div class="user-rank">
                                        <div class="rank-circle">{{ loop.index0 + 1 }}</div>
                                    </div>
                                    <div class="user-info">
                                        <img src="{{ user_avatar }}" class="user-avatar">
                                        <div class="user-details">
                                            <div class="user-name">{{ user }}</div>
                                            <div class="user-university">{{ university_abbreviations[school] }}</div>
                                        </div>
                                    </div>
                                    <div class="user-rating positive">+{{ "%.2f" | format(rating_change) }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <!-- Trending Universities Widget -->
                <div class="widget">
                    <div class="widget-header">
                        <h3>Trending Universities</h3>
                    </div>
                    
                    <div class="widget-content">
                        <div class="widget-legend">
                            <span class="legend-rank">Rank</span>
                            <span class="legend-user">University</span>
                            <span class="legend-rating">Rating Δ</span>
                        </div>
                        
                        <ul class="widget-list">
                            {% for rating, school, student_count, rating_change in school_rating_changes[:5] %}
                                <li class="widget-item-university" data-school="{{ school }}">
                                    <div class="user-rank">
                                        <div class="rank-circle">{{ loop.index0 + 1 }}</div>
                                    </div>
                                    <div class="user-info">
                                        <img src="https://img.logo.dev/{{ university_websites[school] }}" div class="user-avatar"></img>
                                        <div class="user-details">
                                            <div class="user-name">{{ university_abbreviations[school] }}</div>
                                            <span class="stat-item"><img src="{{ url_for('static', filename='icons/students.svg') }}" class="stat-icon"></img>{{ student_count }} students</span>
                                        </div>
                                    </div>
                                    <div class="user-rating positive">+{{ "%.2f" | format(rating_change) }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <span class="logo-text">Leeter<span class="logo-highlight">Board</span></span>
            </div>
            <div class="footer-links">
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
            <div class="footer-copyright">
                © 2025 LeeterBoard. All rights reserved.
            </div>
        </div>
    </footer>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get search input element
            const searchInput = document.querySelector('.search-input');
        
            // Get search form
            const searchForm = document.querySelector('form');

            // When search button is clicked
            const searchButton = document.querySelector('.search-button');
            searchButton.addEventListener('click', function(event) {
                event.preventDefault();
                const universityName = searchInput.value.trim();

                if(universityName) {
                    searchForm.submit();
                }
            });

            // When university row is clicked in main table
            const universityRowsMain = document.querySelectorAll('.university-item');
            universityRowsMain.forEach(row => {
                row.addEventListener('click', function(event) {
                    event.preventDefault();

                    const universityNameContainer = this.querySelector('.university-name');
                    const universityName = universityNameContainer.textContent.trim();

                    // Set the search input value to the clicked university name
                    searchInput.value = universityName;

                    if(universityName) {
                        searchForm.submit();
                    }
                });
            });

            // When university row in trending widget is clicked
            const universityRowsWidgets = document.querySelectorAll('.widget-item-university');
            universityRowsWidgets.forEach(row => {
                row.addEventListener('click', function(event) {
                    event.preventDefault();

                    const universityName = this.getAttribute('data-school');
                    console.log('Selected School: ', universityName);
                    
                    searchInput.value = universityName;

                    if(universityName) {
                        searchForm.submit();
                    }
                });
            });

            // Filtering for typing in search bar
            // Get all rows from leaderboard
            const tableRows = document.querySelectorAll('.university-item');
            searchInput.addEventListener('input', function() {
                const searchTerm = this.value.toLowerCase().trim();

                tableRows.forEach(row => {
                    const universityNameContainer = row.querySelector('.university-name');
                    const universityName = universityNameContainer.textContent.toLowerCase().trim();

                    if(universityName.includes(searchTerm)) {
                        row.style.display = ''; // Show row
                    } else {
                        row.style.display = 'none'; // Hide row
                    }
                });
            });

            // Clicking on user in Trending Users Widget sends to LeetCode Profile
            const widgetItems = document.querySelectorAll('.widget-item-user');
            widgetItems.forEach(item => {
                item.addEventListener('click', function() {
                    const usernameContainer = this.querySelector('.user-name');
                    const username = usernameContainer.textContent.trim();

                    // Get the user link from this item
                    const userLink = "https://leetcode.com/u/" + username + "/";
                    window.open(userLink, '_blank');
                });
            });
        
        });
    </script>
</body>
</html>