<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeeterBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/school.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='icons/leeterboard_logo.png') }}" alt="LeeterBoard Logo" class="logo">
        </a>
        <div class="icon-container">
            <a href="{{ url_for('uni_comp_tool') }}">
                <img src="{{ url_for('static', filename='icons/stats_icon.png') }}" alt="Stats Icon" class="stats_icon">
            </a>
            <img src="{{ url_for('static', filename='icons/user_icon.png') }}" alt="User Icon" class="user_icon">
        </div>
    </header>

    <main>
        <h3 class="university-name-box">{{ school_name }}</h3>

        
        <!-- Leaderboard Table -->
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Contest Rating</th>
                    <th>Rating Change</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index0 + 1 }}</td>
                        <td>
                            <span>
                                <img src="{{ user.userAvatar }}"></img>
                                <a href="https://leetcode.com/u/{{ user.username }}/" target="_blank" rel="noopener noreferrer">
                                    {{ user.username }}
                                </a>
                            </span>
                        </td>                        
                        <td>{{ "%.2f" | format(user.currentRating) }}</td>
                        <td>{{ "%.2f" | format(user.ratingChange) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </main>
</body>
</html>
