<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeeterBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/unipage2.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='icons/leeterboard_logo.png') }}" alt="LeeterBoard Logo" class="logo">
        <img src="{{ url_for('static', filename='icons/user_icon.png') }}" alt="User Icon" class="user_icon">
    </header>

    <main>
        <div class="profile-bar">
            <img src="https://img.logo.dev/utk.edu">
        </div>

        <div class="right-side">
            <div class="graph"></div>

            <div class="bottom-row">
                <div class="uni-info"></div>
                <div class="badges"></div>
            </div>
        </div>
    </main>
</body>
</html>
